<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/after.css"/>
    <title>result</title>
</head>
<body style="background-color:#FF9500;">
<!--分类统计情绪-->
<canvas id="canv" width="400" height="400"></canvas>

<p id="comm" style="position: absolute;left: 3%;top:10%;">most freq:{{ data }}</p>

<div class="box">
    <img src="{{url_for('static',filename='img_final.jpg')}}" alt="image_final" style="position: absolute;left:30%;top:30%"/>
</div>

<img id="imgC" src="../static/happy.png" style="position: absolute;left: 60%;top:80%;"/>
<script>
     if("{{data}}"=="Angry"){
        document.getElementById("comm").innerHTML = "有人看上去可不怎么开心...";
        document.getElementById("imgC").src="../static/anger.png";
    }
    else if("{{data}}"=="Neutral"){
        document.getElementById("comm").innerHTML = "这是在想什么？";
        document.getElementById("imgC").src="../static/neutral.png";
    }
     else if("{{data}}"=="Fear"){
        document.getElementById("comm").innerHTML = "什么东西这么可怕？";
        document.getElementById("imgC").src="../static/fear.png";
    }
      else if("{{data}}"=="Happy"){
        document.getElementById("comm").innerHTML = "好心情！";
        document.getElementById("imgC").src="../static/happy.png";
    }
       else if("{{data}}"=="Sad"){
        document.getElementById("comm").innerHTML = "不要悲伤。";
        document.getElementById("imgC").src="../static/sad.png";
    }
       else if("{{data}}"=="Surprise"){
        document.getElementById("comm").innerHTML = "惊喜！";
        document.getElementById("imgC").src="../static/surprise.png";
    }
</script>
</body>
</html>