<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>图片识别</title>
		<!-- 将css文件导入到html文件中 -->
		<link rel="stylesheet" type="text/css" href="../static/pic_recognition_css.css"/>
		<!-- 导入图标库 -->
		<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css"/>
	</head>
	<body>
		<div class="cl">
					<div class="contain">
						<ul>
							<li ><a href={{url_for('index1') }}  target="_blank"><i class="fa fa-home"></i>首页</a></li>
							<li><a href={{url_for('pic_recognition') }} ><i class="fa fa-star"></i>图片识别</a></li>
							<li><a href={{url_for('video_recognition') }} ><i class="fa fa-moon-o"></i>视频识别</a></li>
						</ul>
					</div>
		</div>
		<div class="picture">
			<div class="col1">
				<div class="col11">
					<button type="button" class="bt1" style="font-size: 1.5rem;color: #ffffff;background-color: #5555ff;border: #FFFFFF;text-align: center;padding: 1% 3%;border-radius: 50%;line-height: 30%;margin-left: 10%;margin-top: 5%">点击上传图片或者视频 --></button>
				</div>
				<div class="form1" style="position: relative">
					<form action="{{ url_for('after' )}}" method="POST" enctype="multipart/form-data">
						<input type="file" id="file-input" name="file1" hidden>
						<label for="file-input" name="file1">
							<img src="../static/pic.jpg" alt="file"style="display:block;margin-left:40%;margin-top:0%;width:18%">
						</label>
                            <!--<img src="../static/file.jpg" alt="image" width="300" height="300" style="display:block;margin-left:55%;padding-top: 20%">-->
                        <input type="submit" class="bt2" value="----> 查看识别结果!" style="font-size: 1.5rem;color: #ffffff;background-color: #5555ff;border: #FFFFFF;text-align: center;padding: 1% 3%;border-radius: 50%;line-height: 30%;margin-left: 65%;margin-top: 5%">
					</form>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="describe">
						<div class="d1">
							 <h6>Sad</h6>
						</div>
						<div class="d1">
							 <h6>Happy</h6>
						</div>
						<div class="d1">
							<h6>Neutral</h6>
						</div>
						<div class="d1">
							 <h6>Fear</h6>
						</div>
						<div class="d1">
							<h6>Angry</h6>
						</div>
						<div class="d1">
							  <h6>Surprise</h6>
						</div>
		</div>
		<div class="imgs">
						<div class="img1">
							 <img src="../static/sad.png" >
						</div>
						<div class="img1">
							 <img src="../static/happy.png">
						</div>
						<div class="img1">
							 <img src="../static/neutral.png">
						</div>
						<div class="img1">
							 <img src="../static/fear.png">
						</div>
						<div class="img1">
							<img src="../static/anger.png">
						</div>
						<div class="img1">
							  <img src="../static/surprise.png">
						</div>
		</div>
		
	</body>
</html>
