body{
	width:100%;
	height:auto;
	/* background-color: red; */
}

.clearfix{
	clear: both;
}
	
h1{
	font-size: 42px;
}

.part1{
	/* background-image: v.mp4; */
	background-size:100% 100%;  
	border: 0.1px solid black;
	height:800px;
	font-family: "arial rounded mt bold";
}

.wenzi{
	/* border: 3px solid blue; */
	text-align: center;
	color: white;
	margin-top: 5%;
	margin-bottom: 10%;
	height: 350px;
}
.cols{
	display: flex;
}

.col1{
	 /* border: 3px solid blue; */
	width: 45%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-bottom: 30%;*/
}
.col1 button{
	font-size: 30px;
	color: #ffffff;
	background-color: #5555ff;
	border: #FFFFFF;
	width: 200%;
	height: 70px;
	text-align: center;
	border-radius: 30px;
	line-height: 30px;
}
.col2{
	/* border: 3px solid blue; */
	width: 50%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-bottom: 30%;*/
}
.col2 button{
	border: #F56A06;
	font-size: 30px;
	color: #ffffff;
	background-color: #5555ff;
	border: #FFFFFF;
	width: 200%;
	height: 70px;
	text-align: center;
	border-radius: 30px;
	line-height: 30px;
}

